body {
    background-color: #333333;
}

#title {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: HelvLight, 'Trebuchet MS', sans-serif;
}

#container {
    width: 69%;
    height: 600px;
    position: absolute;
    display: inline-block;
}

#buttonContainer {
    width: 30%;
    max-width: 150px;
    height: 550px;
    display: inline-block;
    position:relative;
    text-align:center;
}

.addBlockButton {
    border: solid black 1px;
    color: white;
    font-weight: 600;
    padding: 25px 0;
    width: 125px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin: 0px auto;
    cursor: pointer;
}

.highlight {
    background-color: #8a08b5;
}

.conditionalHighlight {
    background-color: blue;
}

#parseButton, #parseButton:enabled {
    border: solid black 1px;
    background-color: red;
    color: white;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin: 0px auto;
    float: right;
    cursor: pointer;
}

#parseButton:disabled {
    background-color: grey;
    color: white;
    cursor: default;
} 
